name: Benchmark

on:
  workflow_dispatch:

jobs:
  benchmark:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.91.0
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ hashFiles('**/Cargo.lock') }}
      - run: sudo apt install -y gnuplot # get rid of some of the useless output
      - run: cargo bench -- --quiet --noplot
